body {
    font-family: "Nunito";
    font-weight: 800;
}

header ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;

}

header li {
    list-style: none;
}

header p {
    font-size: 30px;
    color: #2f4b6e;
}

header a {
    text-decoration: unset;
    color: #2f4b6e;
    font-size: 14px;
}

header a:hover, a:active {
    text-decoration: unset;
}

.header_flex {
    margin-top: 2rem;
}