body {
    font-family: "Nunito";
    font-weight: 800;
}

header ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;;
}

header li {
    list-style: none;
    height: 45px;
    display: flex;
    align-items: center;
}

header li:last-child {
    justify-content: space-around;
    border-radius: 22px;
    background-color: #f8e587;
}

header li img {
    margin-bottom: 4px;
}

header p {
    font-size: 30px;
    color: #2f4b6e;
    margin: 0;
}

header .col-11 {
    padding-left: 0;
}

header a {
    text-decoration: unset;
    color: #2f4b6e;
    font-size: 14px;
}

header a:hover, a:active {
    text-decoration: unset;
}

.header_flex {
    margin-top: 2rem;
}

.header_flex div:first-child {
    display: flex;
}